input#addMovie{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    transition: all 300ms linear;
}
input#addMovie:focus{
    outline: none;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke ;
}
h4.tilte{
    color: #abd1b5;
}
#filterMovie{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    transition: all 300ms linear;
}
input#filterMovie:focus{
    outline: none;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke ;
}